<div class="layerSelector" style="padding:10px">
    <input type="text" data-dojo-attach-point="findText" class="dijitInputContainer dijitTextBox" style="height:24px"/>
    <button data-dojo-type="dijit/form/Button" type="submit" data-dojo-attach-point="roiButton">Region</button>
    
    <div data-dojo-attach-point="layerSelectorNode"></div>
    <button data-dojo-type="dojox/form/BusyButton" type="submit" data-dojo-attach-point="doneButton"  data-dojo-props="busyLabel:'Please wait..'">
      Search
    </button>
    
</div>
