<div class="find-tool" style="padding:10px">
    
    <label>Attribute</label><br/>
    <input type="text" data-dojo-attach-point="findText" class="dijitInputContainer dijitTextBox" style="height:24px; width:98%"/>
    
    <div data-dojo-attach-point="layerSelectorContainer"></div>
    
    <div data-dojo-attach-point="roiSelectorContainer"></div>
    
    <button data-dojo-type="dojox/form/BusyButton" data-dojo-attach-point="doneButton"
         data-dojo-props="busyLabel:'Please wait..'">
      Search
    </button>
    
</div>
