<div class="layerSelector">
    <!-- <fieldset data-dojo-type="dijit/Fieldset" data-dojo-props="open: false">
    <legend>Select Layer</legend>
        <div class="dijitDialogPaneContentArea">
            <div data-dojo-attach-point="selectContainer" style="width:100%"></div>
            <div data-dojo-attach-point="tocContainer">
            </div>
        </div>
    </fieldset> -->
    <div data-dojo-attach-point="selectContainer" style="width:100%"></div>
    <div data-dojo-attach-point="tocContainer"></div>    
</div>
