<div class='navigation-nav'>
    <div data-dojo-type="dijit.Toolbar">
        <div data-dojo-type="dijit.form.ToggleButton"
        data-dojo-props="iconClass:'zoominIcon'"
        data-dojo-attach-point="zoomin"
        data-dojo-attach-event="onClick:navbarChange_zoomin"></div>

        <div data-dojo-type="dijit.form.ToggleButton"
        data-dojo-props="iconClass:'zoomoutIcon'"
        data-dojo-attach-point="zoomout"
        data-dojo-attach-event="onClick:navbarChange_zoomout"></div>

        <div data-dojo-type="dijit.form.ToggleButton"
        data-dojo-props="iconClass:'panIcon'"
        data-dojo-attach-point="pan"
        data-dojo-attach-event="onClick:navbarChange_pan"></div>

        <div data-dojo-type="dijit.form.ToggleButton"
        data-dojo-props="iconClass:'zoomprevIcon'"
        data-dojo-attach-point="zoomprev"
        data-dojo-attach-event="onClick:navbarChange_zoomprev"></div>

        <div data-dojo-type="dijit.form.ToggleButton"
        data-dojo-props="iconClass:'zoomnextIcon'"
        data-dojo-attach-point="zoomnext"
        data-dojo-attach-event="onClick:navbarChange_zoomnext"></div>

        <div data-dojo-type="dijit.form.ToggleButton"
        data-dojo-props="iconClass:'zoomfullextIcon'"
        data-dojo-attach-point="zoomfullext"
        data-dojo-attach-event="onClick:navbarChange_zoomfullext"></div>

        <!-- <div data-dojo-type="dijit.form.Button"
        data-dojo-props="iconClass:'deactivateIcon'"
        data-dojo-attach-event="onClick:navbarChange_deactivate">
        Deactivate
        </div> -->
    </div>
</div>
